body{
    background-image: url(dad.png);


}
#yea{
    padding: 30px;
    border-radius: 10px;
    border-width: 5px;
    border-width: 5px;
    border-style: dashed;
    border-color: #421c16;
    margin-right: auto;
    margin-left: auto;
    margin-top: 150px;
    width: 50%;
    height: auto;
    background-color: #faf7ed;


    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #421c16;

    animation: basta;
    animation-duration: 3s;

}

#yea1{
    padding: 30px;
    border-radius: 10px;
    border-width: 5px;
    border-width: 5px;
    border-style: dashed;
    border-color: #421c16;
    margin-right: auto;
    margin-left: auto;
    margin-top: 70px;
    width: 50%;
    height: auto;
    background-color: #faf7ed;

    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #421c16;

    animation: basta1;
    animation-duration: 3s;
}


@keyframes basta{
    from{margin-top: 100%;}
    to{margin-top: 150px}
}
@keyframes basta1{
    from{margin-top: 100%;}
    to{margin-top: 70px}
}